<div class="w-full h-auto px-2 bg-gray-800 py-3 mt-1 flex-col flex rounded-lg shadow-md">
    <div class="text-left">
        <img src="https://i.pinimg.com/736x/18/6b/df/186bdf33428335072e039458c25be52c.jpg" class="w-10 h-10 bg-black rounded-full ml-10" alt="" />
    </div>
    <input type="text" class="w-5/6 mx-auto h-full shadow-md rounded-t-lg px-2 bg-gray-600 h-16" placeholder="What are your thinking?" />
    <div class="bg-gray-600 w-5/6 mx-auto rounded-b-lg flex items-center justify-between">
        <div class="w-4/6 flex">
            <div class="flex ml-2">
                <label for="midia">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="mr-2 w-6 h-6 text-gray-900 cursor-pointer"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M18.375 12.739l-7.693 7.693a4.5 4.5 0 01-6.364-6.364l10.94-10.94A3 3 0 1119.5 7.372L8.552 18.32m.009-.01l-.01.01m5.699-9.941l-7.81 7.81a1.5 1.5 0 002.112 2.13"
            />
          </svg>
        </label>
                <input hidden type="file" id="midia" />
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-900 cursor-pointer">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z"
          />
        </svg>
            </div>
        </div>
        <div class="w-2/6 py-2">
            <button class="rounded-full py-2 px-10 bg-gray-900 w-5/6 shadow-md text-gray-100">
        Fruit
      </button>
        </div>
    </div>
</div>