<section class="w-full text-black h-full flex items-center justify-center">
    <div class="w-1/5 bg-gray-600 pt-14 h-full">
        <div class="text-center flex items-center justify-center bg-gray-800 mt-3 shadow-md py-2 text-gray-100">
            Mutuals [23] - online
            <div class="ml-2 w-2 h-2 bg-green-400 rounded-full blink_me"></div>
        </div>
        <div class="bg-gray-600 pr-4 overflow-y-scroll h-2/5">
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://i.pinimg.com/736x/18/6b/df/186bdf33428335072e039458c25be52c.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sad1bunny </b>
                    <i>(Débora Maciel)</i>
                </div>
            </div>
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://i.pinimg.com/736x/18/6b/df/186bdf33428335072e039458c25be52c.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sad1bunny </b>
                    <i>(Débora Maciel)</i>
                </div>
            </div>
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://i.pinimg.com/736x/18/6b/df/186bdf33428335072e039458c25be52c.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sad1bunny </b>
                    <i>(Débora Maciel)</i>
                </div>
            </div>
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://i.pinimg.com/736x/18/6b/df/186bdf33428335072e039458c25be52c.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sad1bunny </b>
                    <i>(Débora Maciel)</i>
                </div>
            </div>
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://i.pinimg.com/736x/18/6b/df/186bdf33428335072e039458c25be52c.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sad1bunny </b>
                    <i>(Débora Maciel)</i>
                </div>
            </div>
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://64.media.tumblr.com/8d66466323c43ee45048d31c85c03fd3/3c4616f3be61f914-c4/s400x600/80c086bf3ed94d6e1401092a5953f63d753a2a5b.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sasukeUchirrkk </b>
                    <i>(Sasukkkkk)</i>
                </div>
            </div>
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://i.pinimg.com/736x/18/6b/df/186bdf33428335072e039458c25be52c.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sad1bunny </b>
                    <i>(Débora Maciel)</i>
                </div>
            </div>
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://i.pinimg.com/736x/18/6b/df/186bdf33428335072e039458c25be52c.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sad1bunny </b>
                    <i>(Débora Maciel)</i>
                </div>
            </div>
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://64.media.tumblr.com/8d66466323c43ee45048d31c85c03fd3/3c4616f3be61f914-c4/s400x600/80c086bf3ed94d6e1401092a5953f63d753a2a5b.jpg" class="w-8 h-8 bg-black border-green-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@sasukeUchirrkk </b>
                    <i>(Sasukkkkk)</i>
                </div>
            </div>
        </div>
        <div class="text-center flex items-center justify-center bg-gray-800 mt-2 py-2 text-gray-100">
            Mutuals [12] - offline
            <div class="ml-2 w-2 h-2 bg-gray-400 rounded-full"></div>
        </div>
        <div class="bg-gray-600 pr-4">
            <div class="w-full bg-gray-500 flex items-center py-1 rounded-r-full shadow-md justify-between px-2 mb-1">
                <div class="w-1/6">
                    <img src="https://wallpapercave.com/wp/wp8756073.jpg" class="w-8 h-8 bg-black border-gray-400 border rounded-full" alt="" />
                </div>
                <div class="text-sm whitespace-nowrap overflow-hidden text-ellipsis max-w-4/6 w-4/6">
                    <b class="text-sm font-bold ml-4">@another1one </b>
                    <i>(Hammer Basdk)</i>
                </div>
            </div>
        </div>
    </div>
    <div class="w-3/5 mx-auto bg-gray-700 text-center h-full pt-16 px-2 overflow-y-scroll">
        <div class="w-full h-auto rounded-lg">
            <app-new-post></app-new-post>
        </div>
        <div class="w-full h-auto py-2">
            <!-- post -->
            <app-post></app-post>
            <app-post></app-post>
            <app-post></app-post>
        </div>
    </div>
    <div class="w-1/5 bg-gray-600 h-full">#news</div>
</section>